## Analysing exlusive protein based genes

1) Length
2) lcr regions
3) number exons/introns?

In [13]:
import pandas as pd

In [7]:
# dictionary:  busco:{species: int, uniprot: str}
#read in seed genes mapping and ref species
# dictionary: uniprot: busco
seed_dict = {}
seed_uniprot_ids = set()
uniprot_vs_busco = {}
busco_vs_uniprot = {}
with open("../uniprotid_to_group_assignment/seed_species_list_busco.tsv", 'r') as file:
    for line in file:
        line = line.rstrip()
        busco, species = line.split('\t')
        seed_dict[busco] = {"species": species, "uniprot": "", "length": 0, "sum_lcr": 0, "exclusive": 0}
with open("../uniprotid_to_group_assignment/mapping_busco_id_uniport_id.tsv", 'r') as file:
    for line in file:
        line = line.rstrip()
        busco, uniprot = line.split('\t')
        seed_dict[busco]["uniprot"] = uniprot
        uniprot_vs_busco[uniprot] = busco
        busco_vs_uniprot[busco] = uniprot
        seed_uniprot_ids.add(uniprot)

In [8]:
#read in domain file
with open("../../results/augustus_busco_core/fdog_assembly_metazoa_core_augustus_new_gallus_forward.domains", "r") as domain_file:
    for line in domain_file:
        seed = False
        line = line.rstrip()
        pairid, orthoid, seqlen, feature, fstart, fend, fweight, fpath, interpro, evalue, bitscore, pstart, pend, plen = line.split("\t")
        busco = pairid.split('#')[0]
        if pairid.split('#')[1] == orthoid:
            seed_dict[busco]['length'] = int(seqlen)
            if feature == 'seg_low_complexity_regions':
                seed_dict[busco]['sum_lcr'] += max(int(fstart), int(fend)) - min(int(fstart), int(fend))

In [4]:
#print(seed_dict)

In [11]:
with open("exclusive_gene_lists/exclusive_protein_based_pairs_all.tsv", "r") as pairs_file:
    for pair in pairs_file:
        try:
            g1, g2 = pair.rstrip(). split("\t")
        except ValueError:
            print(pair)
            break
        if g1 in seed_uniprot_ids:
            seed = g1
            ortho = g2
        else:
            seed = g2
            ortho = g1
        seed_dict[uniprot_vs_busco[seed]]["exclusive"] += 1

In [23]:
# make dataframe
df = pd.DataFrame.from_dict(seed_dict, orient='index')
df = df.rename_axis('busco').reset_index()
display(df)

             busco species uniprot  length  sum_lcr  exclusive
0    323473at33208    9606  P53611     341       59          0
1    319574at33208    9606  Q9Y606    1266      487          0
2    102804at33208    9606  Q9Y5B9    1047     1407          0
3    103854at33208    9606  P49754     918      191          0
4    108764at33208    9606  Q9Y5Q9     883      595          0
..             ...     ...     ...     ...      ...        ...
948   66018at33208    9606  O60306    1550      749          0
949   75406at33208    9606  Q6P3X3     843      481          0
950   84980at33208    9606  Q99460    1020     1085          0
951    9639at33208    9606  O75165    2257      862          0
952   99614at33208    9606  Q12768    1175      294          0

[953 rows x 6 columns]

In [25]:
df[df['exclusive']> 0]
# not seed gene is systematic lost, so lcr regions might no be the reason here, could be caused be the 'selection' of busco genes

             busco species uniprot  length  sum_lcr  exclusive
54   307109at33208    9606  P22234    1016      182          1
59   325183at33208    9606  P16930     419       56          1
138  459253at33208    9606  Q5HYK3     327       92          1
157  493505at33208    9606  Q96GX9     659       32          1
173  504912at33208    9606  Q07021     272      180          1
186  514834at33208    9606  Q9H6L2     313      122          1
215  541260at33208    9606  Q16595     246       76          1
227  557834at33208    9606  Q8N5U6     754      958          1
266  585078at33208    9606  Q13901     204       67          1
271  586310at33208    9606  O00233     211       85          1
278  592094at33208    9606  O75586     314      277          1
284  596131at33208    9606  P63272     118        0          1
285  600462at33208    9606  Q9NXG2     353      240          1
336  124302at33208    9606  Q7Z392    1171      258          1
371  244863at33208    9606  O94874     790      668          1
375  251577at33208    9606  Q9BVI4     500      309          1
449  416175at33208    9606  Q96C86     498       96          1
470  450785at33208    9606  P09001     348      185          1
503  486370at33208    9606  O95801     539      383          1
505  486743at33208    9606  Q9NZ43     259       61          1
509  491289at33208    9606  Q96K37     331      302          1
522  504292at33208    9606  Q9H0E2     336      337          1
523  505718at33208    9606  Q9H814     365      259          1
541  526673at33208    9606  Q8WVY7     346      154          1
558  547766at33208    9606  P53701     269      150          1
559  548732at33208    9606  P61758     612      140          1
586  566447at33208    9606  Q6I9Y2     199      114          1
595  573313at33208    9606  Q8IV38     453      238          1
599  578726at33208    9606  O95149     586      209          1
618  595404at33208    9606  Q9NRP0     150       27          1
633  611258at33208    9606  O75937     253      375          1
642  622461at33208    9606  P62851     116      308          1
648  633007at33208    9606  Q14696     234      296          1
698  216257at33208    9606  Q8IYB8     785      210          1
718  289235at33208    9606  A0AVI4     362       38          1
775  421732at33208    9606  Q13561     400      117          1
783  436098at33208    9606  Q9H1A3     328      173          1
819  488635at33208    9606  Q330K2     526      171          1
850  535367at33208    9606  Q96EW2     488      226          1
854  540193at33208    9606  Q9BRD0     647     1449          1
902  590221at33208    9606  O75575     148       49          2
906  592872at33208    9606  Q9BRG1     174       50          1

In [26]:
# If the seed genes are not the problem then maybe the orthologs are, that means I have to find out the length, lcr covergae and maybe intron-exon structure of those.